# Aiven OpenSearch Cluster Credentials
AIVEN_OPENSEARCH_HOST=os-314a7181-managethedev-7614.c.aivencloud.com
AIVEN_OPENSEARCH_PORT=25717
AIVEN_OPENSEARCH_USER=avnadmin
AIVEN_OPENSEARCH_PASSWORD=your_aiven_password_here
